HELP.md
.gradle
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
### VS Code ###
.vscode/
/logs/url-downloader.log

### Build ###
build/
bin/
out/
target/
dist/


